@font-face {
  font-family: "TT400";
  src: url("../fonts/TT\ Firs\ Neue\ Normal.ttf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "TT500";
  src: url("../fonts/TT\ Firs\ Neue\ Medium.ttf");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "TT600";
  src: url("../fonts/TT\ Firs\ Neue\ DemiBold.ttf");
  font-style: normal;
  font-weight: 600;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "TT400";
  font-size: 14px;
  font-style: normal;
}

ol,
ul {
  list-style: none;
}

button {
  font-family: "TT400";
  padding: 0;
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 100px;
}

/*
------------------------------------------
Первый хедер
------------------------------------------
*/

.first-header {
  border-bottom: 1px solid rgba(56, 59, 74, 0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  line-height: 120%;
  height: 70px;
}

.first-header__left {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.first-header__list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.first-header__list-item {
  padding: 27px 20px 24px 20px;
  opacity: 0.4;
}

.first-header__list-item__active {
  opacity: 1;
  position: relative;
}

.first-header__list-item__active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 2px;
  width: 20px;
  background: #16ff00;
  margin: 0 auto;
}

.first-header__right {
  display: flex;
  gap: 57px;
}

.first-header__right-left {
  padding: 7px 10px;
  border-radius: 23px;
  border: 1px solid #01fdc9;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  font-family: "TT500";
}

.first-header__right-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.login-burger {
  display: none;
}

.header-logo {
  display: none;
}
/*
------------------------------------------
Второй хедер
------------------------------------------
*/

.second-header {
  line-height: 140%;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: space-between;
  height: 52px;
}

.second-header__list {
  display: flex;
  gap: 42px;
}

.second-header__list-link--active {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*
------------------------------------------
Секция FRONT
------------------------------------------
*/

main {
  font-size: 16px;
  font-weight: 400;
}

.front {
  padding: 71px 0 83px 80px;
  border-radius: 0px 0px 80px 80px;
  background: linear-gradient(108deg, #6f6dca 18.23%, #906dca 81.11%);
  position: relative;
  color: white;
  margin: 0 20px;
  overflow: hidden;
}

.front-container {
  max-width: 670px;
}

.front__title {
  margin-bottom: 10px;
}

.front__text {
  margin-bottom: 40px;
  max-width: 515px;
}

.front__list {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-bottom: 40px;
}

.front__number-text {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.front__number-title {
  margin-bottom: 18px;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.front__number-70px {
  font-size: 70px;
  font-weight: 600;
  line-height: 100%;
}

.front__aplication-btn {
  padding: 8px 21px;
  border-radius: 3px;
  background: var(
    --basic-colors-gradient,
    linear-gradient(90deg, #16ff00 0%, #4dffc9 99.91%, #4dffc9 99.91%)
  );
  box-shadow: 0px 4px 20px 0px rgba(56, 59, 74, 0.2);
  margin-right: 6px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}

.front__consultation-btn {
  padding: 8px 19px;
  border-radius: 3px;
  box-shadow: 0px 4px 20px 0px rgba(0, 46, 69, 0.1);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  font-family: "TT500";
}

.front__img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 100%;
}

/*
------------------------------------------
Секция MSP
------------------------------------------
*/

.msp {
  margin-top: 80px;
  margin-bottom: 60px;
  position: relative;
}

.msp__plus-img {
  position: absolute;
  top: -32px;
  left: 69px;
}

.msp__title {
  max-width: 790px;
  margin-bottom: 20px;
}

.msp__text {
  font-weight: 400;
  max-width: 600px;
}

.msp__blocks {
  display: flex;
}

.msp__left {
  display: flex;
  gap: 87px;
  margin-top: 50px;
  margin-right: 96px;
}

.msp__left-block {
  max-width: 282px;
}

.msp__left-blockimages {
}

.msp__left-imgimg {
  margin-left: -11px;
  margin-top: 2px;
}

.msp__left-title {
  margin-top: 4px;
}

.msp__left-text {
  margin-top: 10px;
  font-weight: 400;
}

.msp__number {
  padding: 40px 90px 40px 40px;
  position: relative;
}

.msp__number-title {
  margin-bottom: 20px;
  max-width: 270px;
}

.msp__number-list {
  display: flex;
  gap: 38px;
}

.msp__number-number {
  display: flex;
  gap: 6px;
  align-items: flex-end;
  margin-bottom: 4px;
}

.msp__img {
  position: absolute;
  top: -59px;
  right: 14px;
  z-index: 10;
}

.msp__elipse {
  position: absolute;
  top: 0;
  right: 0;
}

/*
------------------------------------------
Сохраненые стили
------------------------------------------
*/

h2 {
  font-family: "TT500";
  font-size: 40px;
  font-weight: 500;
  line-height: 110%;
}

h3 {
  font-family: "TT500";
  font-size: 24px;
  font-weight: 500;
  line-height: 120%;
}

h4 {
  font-family: "TT500";
  font-size: 18px;
  font-weight: 500;
  /* font-weight: 400; */
  line-height: 120%;
}

h5 {
  font-family: "TT400";
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
}

@media (max-width: 1370px) {
  .front__img {
    right: -124px;
  }
}

@media (max-width: 1280px) {
  .second-header__list {
    gap: 20px;
  }

  .msp__blocks {
    margin-top: 40px;
  }
  .msp__left {
    flex-direction: column;
    gap: 20px;
  }
  .msp__left-block {
    display: flex;
    gap: 20px;
  }
  .msp__left-blockimages {
    display: flex;
    align-items: center;
  }
  .msp__left-blocktext {
    font-size: 16px;
  }
  .msp__left-text {
    font-size: 16px;
  }
}

@media (max-width: 1240px) {
  .front__list {
    flex-direction: column;
    gap: 30px;
  }
  .front__img-back {
    display: none;
  }
  /* .front__consultation-btn {
  } */
  .msp__left {
    flex-direction: column;
  }
  .msp__blocks {
    gap: 29px;
  }
  .msp__number-title {
    font-size: 16px;
  }
  h2.msp__number-text {
    font-size: 30px;
  }
  h4.msp__number-text {
    font-size: 16px;
  }
}

@media (max-width: 1125px) {
  .second-header__list-item {
    font-size: 12px;
  }
}

@media (max-width: 1015px) {
  .container {
    margin: 0 32px;
  }

  .msp__plus-img {
    display: none;
  }
  .msp__number {
    padding: 30px 24px 40px 30px;
  }
  .msp__img {
    width: 82px;
    top: -33px;
  }
  .msp__number-title {
    max-width: 250px;
  }
}

@media (max-width: 880px) {
  .first-header__list-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  .second-header__list {
    gap: 10px;
  }
}

@media (max-width: 840px) {
  .login {
    display: none;
  }
  .second-header__list-item {
    font-size: 11px;
  }
}

@media (max-width: 800px) {
  .msp__blocks {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .front {
    padding: 40px 0 100px 32px;
    border-radius: 0px 0px 60px 60px;
    margin: 0;
  }
  .first-header__right {
    gap: 30px;
  }
  .front__title {
    font-size: 30px;
  }
  .front__number-70px {
    font-size: 40px;
  }
  .msp__title {
    font-size: 30px;
  }
  .msp__text {
    font-size: 16px;
  }
}

@media (max-width: 755px) {
  .second-header {
    display: none;
  }
  .first-header {
    padding: 6px 0;
  }
  .first-header__list {
    display: none;
  }
  .first-header__right-left {
    display: none;
  }
  .login-burger {
    display: block;
  }
  .msp {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .container {
    margin: 0 20px;
  }
  .front {
    padding: 40px 18px;
  }
  .header-logo {
    display: block;
  }
  .logo {
    display: none;
  }
}

@media (max-width: 645px) {
  .front__title {
    font-size: 20px;
  }
  .msp__left-text {
    font-size: 14px;
  }
  .msp__left-blockimages {
    flex-direction: column;
  }
  .msp__left-img {
    width: 46px;
  }
  .front__aplication-btn {
    width: 100%;
  }
  .front__consultation-btn {
    width: 100%;
  }
  .front__number-70px {
    font-size: 30px;
  }
  .msp__title {
    font-size: 20px;
  }
  .msp__text {
    font-size: 14px;
  }
  .front__text {
    font-size: 14px;
  }
  .front__list {
    gap: 20px;
  }
  .front__number-title {
    margin-bottom: 4px;
  }
  .front {
    border-radius: 0px 0px 30px 30px;
  }
  .front__aplication-btn {
    margin: 0 0 10px 0;
  }

  .first-header__right-right {
    gap: 20px;
  }
  .msp__left-imgimg {
    margin: 0;
  }
}
